/* *************************** */
/*          VARIABLES          */
/* *************************** */
:root {
  /* Ravenclaw color palette */
  --maastricht-blue: #0e1a40;
  --cobalt-blue: #223053;
  --intense-bronze: #C5832B;
  --ochre-yellow: #B5904B;
  --covert-black: #16161B;

  /* Fonts */
  --gochi-hand: 'Gochi Hand', cursive;
  --shrikhand: 'Shrikhand', cursive;
}

/* ////////////////////////////////////////////////// */
img {
  width: 50px;
}
/* ////////////////////////////////////////////////// */

/* Header */
.header {
  background-color: var(--ochre-yellow);
  border-bottom: solid 3px var(--covert-black);
  display: flex;
  justify-content: space-between;
}

.logo_container {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

/* .logo {
  height: 50px;
} */

.menus_container {
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
}

.navbar {
  display: none;
}

.nav_list {
  display: flex;
}

.nav_item {
  padding: 0.25rem 0.5rem;
  margin: 0 1rem;
}

.nav_link {
  color: var(--cobalt-blue);
  font-size: 1.25rem;
  font-weight: bold;
}

.nav_link:hover{
  text-decoration: underline;
}

.hamburger_menu {
  display: block;
  align-self: center;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  /* -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; */
  background-color: var(--maastricht-blue);
}

/* Main. Hero */
.hero {
  background-image: url(../images/lovegood-residence.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_title {
  color: var(--cobalt-blue);
  background-color: rgba(197, 131, 43, 0.75);
  font-family: var(--shrikhand);
  border-radius: 15px 50px;
  padding: 25px;
  font-size: 2rem;
}

/* Section: about */
.about {
  background-color: var(--maastricht-blue);
  padding: 8px;
}

.about_title {
  color: var(--intense-bronze);
  font-family: var(--gochi-hand);
  font-size: 1.5rem;
  margin-bottom: 4px;
}

.bio {
  color: var(--ochre-yellow);
  text-align: justify;
}

/* Section: skills */
.skills_section {
  background-color: var(--intense-bronze);
  padding: 0.5rem;
}

.skills_title {
  color: var(--cobalt-blue);
  font-family: var(--gochi-hand);
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.skill_article {
  display: flex;
  align-items: center;
}

.skill_img {
  height: 35px;
  padding: 3px;
}

.skill_name {
  color: var(--maastricht-blue);
  margin: 0rem 0.5rem;
  font-size: 12px;
}

.skill_container {
  width: 100%;
  background-color: #E6E6FA;
  margin: 0px 6px;
}

.skill {
  text-align: right;
  padding: 8px 0px 8px 0px;
}

.potion {
  width: 75%; 
  background-color: #483D8B;
  ;
}

.divination {
  width: 50%;
  background-color: #7B68EE;
}

.quidditch {
  width: 25%;
  background-color: #663399;
}

.dark {
  width: 5%;
  background-color: #4B0082;
}

.quibbler {
  width: 90%;
  background-color: #9370DB;
}

/* Section: where */
.where_section {
  background-color: var(--ochre-yellow);
  padding: 8px;
}

.where_title {
  color: var(--cobalt-blue);
  font-family: var(--gochi-hand);
  font-size: 1.5rem;
  margin-bottom: 4px;
}

.where_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.where {
  color: var(--cobalt-blue);
  margin: 0.23rem 0.3rem 0rem 0.5rem;
  font-size: 14px;
}

.where_img {
  height: 35px;
  padding: 5px;
}

/* *************************** */
/*        MEDIAQUERIES         */
/* *************************** */
@media screen and (min-width: 576px) {
  /* .logo {
    height: 75px;
  } */

  .hamburger_menu {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.50rem;
  }
  
  .main_title {
    font-size: 3.5rem;
  }
}