/* *************************** */
/*          VARIABLES          */
/* *************************** */
:root {
  /* Ravenclaw color palette */
  --maastricht-blue: #0e1a40;
  --cobalt-blue: #223053;
  --intense-bronze: #C5832B;
  --ochre-yellow: #B5904B;
  --covert-black: #16161B;

  /* Fonts */
  --gochi-hand: 'Gochi Hand', cursive;
  --shrikhand: 'Shrikhand', cursive;
}

/* Header */
.header {
  background-color: var(--ochre-yellow);
  border-bottom: solid 3px var(--covert-black);
  display: flex;
  justify-content: space-between;
}

.logo_container {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.logo {
  height: 50px;
}

.menus_container {
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
}

.navbar {
  display: none;
}

.nav_list {
  display: flex;
}

.nav_item {
  padding: 0.25rem 0.5rem;
  margin: 0 1rem;
}

.nav_link {
  color: var(--cobalt-blue);
  font-size: 1.25rem;
  font-weight: bold;
}

.nav_link:hover{
  text-decoration: underline;
}

.hamburger_menu {
  display: block;
  align-self: center;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  /* -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; */
  background-color: var(--maastricht-blue);
}

/* Main */
main {
  background: rgb(181,144,75);
  background: linear-gradient(0deg, rgba(181,144,75,1) 0%, rgba(197,131,43,1) 100%); 
}

/* Main. Hero */
.hero {
  background-image: url(../images/lovegood-residence.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_title {
  color: var(--cobalt-blue);
  background-color: rgba(197, 131, 43, 0.75);
  font-family: var(--shrikhand);
  border-radius: 15px 50px;
  padding: 25px;
  font-size: 2rem;
}

/* Section: about */
.about {
  background-color: var(--maastricht-blue);
  padding: 8px 20px;
}

.about_title {
  color: var(--intense-bronze);
  font-family: var(--gochi-hand);
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.bio {
  color: var(--ochre-yellow);
  text-align: justify;
  margin-bottom: 8px;
}

/* Section: skills */
.skills_section {
  padding: 8px 20px;
}

.skills_title {
  color: var(--cobalt-blue);
  font-family: var(--gochi-hand);
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.skill_article {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.skill_description {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.skill_img {
  height: 35px;
  padding: 3px;
}

.skill_name {
  color: var(--maastricht-blue);
  margin: 0rem 0.5rem;
  font-size: 12px;
}

.skill_container {
  width: 90%;
  background-color: #E6E6FA;
  align-self: center;
  border-radius: 8px;
  margin: 6px 0 6px 0;
}

.skill {
  text-align: right;
  border-radius: 8px;
  padding: 8px 0px 8px 0px;
}

.potions {
  background-color: #483D8B;
  animation: skillPotions 3s forwards;
}

.divination {
  background-color: #7B68EE;
  animation: skillDivination 3s forwards;
}

.quidditch {
  background-color: #663399;
  animation: skillQuidditch 3s forwards;
}

.dark {
  background-color: #4B0082;
  animation: skillDark 4s forwards;
}

.quibbler {
  background-color: #9370DB;
  animation: skillQuibbler 3s forwards;
}

/* Section: where */
.where_section {
  padding: 8px 20px;
}

.where_title {
  color: var(--cobalt-blue);
  font-family: var(--gochi-hand);
  font-size: 1.5rem;
  margin-bottom: 4px;
}

.where_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.where {
  color: var(--cobalt-blue);
  margin: 0.23rem 0.3rem 0rem 0.5rem;
  font-size: 14px;
}

.where_img {
  height: 35px;
  padding: 5px;
}

/* Section: form */
.form_section {
  padding: 8px 20px;
}

.info_title {
  color: var(--cobalt-blue);
  font-family: var(--shrikhand);
  font-size: 1.5rem;
  text-align: center;
  margin: 8px 0;
}

/* Form section: personal data */
.data {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.data_container {
  margin: 6px 6px;
}

.info_label {
  color: var(--cobalt-blue);
  font-size: 14px;
}

.info_input {
  background-color: #E6E6FA;
  width: 50%;
  height: 18px;
  border-radius: 10px;
}

.info_input::placeholder {
  color: var(--maastricht-blue);
  opacity: 0.5;
  font-style: italic;
  padding: 8px;
}

/* Section: message */
.message_section {
  display: flex;
  flex-direction: column;
}

.message_container {
  display: flex;
  align-items: center;
}

.message_img {
  height: 35px;
  padding: 5px;
}

.message_label {
  color: var(--cobalt-blue);
  font-family: var(--gochi-hand);
  font-size: 1.5rem;
}

.message {
  border-radius: 5px;
}

.message::placeholder {
  color: var(--maastricht-blue);
  opacity: 0.5;
  font-family: Helvetica, sans-serif;
  font-style: italic;
  padding: 4px;
}

.send_container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 8px;
}

.owl_icon {
  height: 25px;
  padding: 5px;
}

.send_button {
  background-color: var(--cobalt-blue);
  color: var(--intense-bronze);
  font-family: var(--shrikhand);
  font-size: 18px;
  text-align: center;
  width: 75px;
  border: none;
  border-radius: 50px 5px;
  padding: 3px;
  margin: 3px;
  cursor: pointer;
}

/* Footer */
.footer {
  background-color: var(--cobalt-blue);
  display: grid;
  justify-items: center;
}

.social_logo {
  margin-top: 0.75rem;
  height: 35px;
  padding: 5px;
}

.authorship {
  color: var(--ochre-yellow);
  font-size: 12px;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

/* *************************** */
/*          KEYFRAMES          */
/* *************************** */
@keyframes skillPotions {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}

@keyframes skillDivination {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes skillQuidditch {
  0% {
    width: 0;
  }
  100% {
    width: 25%;
  }
}

@keyframes skillDark {
  0% {
    width: 0;
  }
  100% {
    width: 3%;
  }
}

@keyframes skillQuibbler {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

/* *************************** */
/*        MEDIAQUERIES         */
/* *************************** */
@media screen and (min-width: 576px) {
  /* Header */
  .logo {
    height: 75px;
  }

  .hamburger_menu {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.50rem;
  }

  /* Main. Hero */
  .main_title {
    font-size: 3.5rem;
  }

  /* Section: about */
  .about {
    background-color: var(--maastricht-blue);
    padding: 12px 50px;
  }

  .about_title {
    font-size: 2rem;
    margin-bottom: 12px;
  }

  .bio {
    font-size: larger;
    margin-bottom: 12px;
  }

  /* Section: skills */
  .skills_section {
    padding: 12px 50px;
  }

  .skills_title {
    font-size: 2rem;
    margin-bottom: 12px;
  }

  .skill_description {
    margin-left: 50px;
  }

  .skill_img {
    height: 50px;
    padding: 5px;
  }

  .skill_name {
    margin: 0rem 0.5rem;
    font-size: larger;
  }

  .skill_container {
    margin: 0;
    height: 30px;
  }

  .skill {
    margin: 0;
    padding: 0;
    height: 30px;
  }

  /* Section: where */
  .where_section {
    padding: 12px 50px;
  }

  .where_title {
    font-size: 2rem;
    margin-bottom: 12px;
  }

  .where {
    font-size: larger;
  }

  .where_img {
    height: 50px;
  }

  /* Section: form */
  .form_section {
    padding: 12px 50px;
  }

  .info_title {
    font-size: 2rem;
    margin: 16px 0;
  }

  /* Form section: personal data */
  .info_label {
    font-size: larger;
  }

  .info_input {
    height: 25px;
  }

  .info_input::placeholder {
    font-size: medium;
  }

  /* Section: message */
  .message_img {
    height: 50px;
  }

  .message_label {
    font-size: 2rem;
  }

  .message::placeholder {
    font-size: larger;
  }

  .owl_icon {
    height: 35px;
    padding: 8px;
  }

  .send_button {
    font-size: 25px;
    width: 100px;
    padding: 5px;
    margin: 5px;
  }

  /* Footer */
  .social_logo {
    height: 50px;
  }

  .authorship {
    font-size: 20px;
    margin-bottom: 1rem;
  }
}